<!DOCTYPE html>
<html>
    <title>Saumya-TATA MOTORS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="expressConnection\public\style.css">

    <style>
        table{
            margin-top:28px;
            border:1px solid #0E8388;
        }
        th,td{
            border:1px solid #0E8388;
        }
    </style>


    <body>
      <nav>
        <span><h3>HOSPITAL NAME</h3></span>
        <span><a href="">Logout</a></span>
      </nav>
      
      <div class="main">

        <div class="left">
            <section id="doc" style="display:block;padding:12px;">
                <table>
                    <tr>
                        <th>Doctors Available</th>
                        <th>Doc ID</th>
                    </tr>
                    <tr>
                       <td> Dummy name 1.</td>
                       <td>D-7856</td>
                    </tr>
                    <tr>
                        <td> Dummy name 2.</td>
                       <td>D-7656</td>
                    </tr>
                </table>
            </section>

            <section id="pats" style="display:block; padding:12px; border-color:#0E8388;">
                <table  style="margin-top:28px;border:1px solid #0E8388;">
                    <tr>
                        <th>Patients Waiting</th>
                        <th>Sno</th>
                    </tr>
                    <tr>
                       <td> Dummy name 1.</td>
                       <td>1</td>
                    </tr>
                    <tr>
                        <td> Dummy name 2.</td>
                       <td>2</td>
                    </tr>
                </table>

            </section>
            
          </div>
          
          <div class="right">
            
            <form id="registerPatient" action="/registerpatient" method="POST" onsubmit="return validate()">
              <h2>Register</h2>
              <p id="right-msg"></p>
              First Name:
              <input type="text" id="fname" name="fname"><br>
              Last Name:
              <input type="text" id="lname" name="lname"><br><br>
              Phone no:
              <input type="tel" id="ph" name="ph"><br><br>
              Email:
              <input type="email" id="email" name="email"><br><br>
              Age:
              <input type="age" id="age" name="age"><br><br><br>
              <!-- <button type="button" onclick="validate()" >Register</button> -->
              <input type="submit" value="Register" id="submit">
            </form>

            
          </div>

      </div>
  


        <script type="text/javascript">
          
          function validate(){
            var fname=String(document.getElementById("fname").value);
            console.log(fname)
          var lname=String(document.getElementById("lname").value);
          var phone=String(document.getElementById("ph").value);
          var mail=String(document.getElementById("mail").value);
          var age=String( document.getElementById('age').value);
          var numAge=Number(age);

          const phpat=/^[0-9]{10}$/;
          const unamepat=/^[A-Za-z]+$/;
          const mailpt=/^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          const agepat=/^[0-9]{2}/;

          let fnamematch=unamepat.test(fname);
          let lnamematch=unamepat.test(lname);
          let phmatch=phpat.test(phone);
          let mailmatch=mailpt.test(mail);
          let agematch=agepat.test(age);


          if(fname=="" || lname=="" || phone=="" || mail=="" || age==""){
            console.log("fields empty");
            document.getElementById("right-msg").innerText="please fill all the information";
            return false ;
            
          }
      
             else if(!fnamematch||!lnamematch){
              console.log("fname or lname empty");
              document.getElementById("right-msg").innerText("Enter Valid name");
              return false ; 
            }
            else if(!phmatch){
              console.log("phone empty")
              document.getElementById("right-msg").innerText="Enter valid Mobile no. without code";
              return false  ; 
            }
            else if(!mailmatch){
              console.log("mail empty")
              document.getElementById("right-msg").innerText="Enter valid email";
              return false;
            }
            else if(numAge>=0  && numAge<=100){
              console.log("age empty")
              document.getElementById("right-msg").innerText="Enter appropriate age";
              return false;
            }
          
          else{
            console.log("fail")
          }
        }

  
        </script>
    </body>
</html>