
body{
    margin:0px;
    padding:0px;
    border:0px;

}
nav{
    width:100%;
    background:#2C3333;
    color:#FFFFFF;
    display:block;
    float:top;
    height:48px;
    position:absolute;
    z-index:1;
    
  }
  nav h3{
    display:block;
    margin:4px 800px 4px 48px;
    float:left;
    text-align:centre;
    padding:8px 2px ;
  }
  nav a{
    color:#CBE4DE;
    text-decoration:none;
    opacity:80%;
    padding:12px 8px ;
    display:flex;
    float:right;
    margin:0px 8px;
    text-align:centre;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width:fit-content; */
  }
  
  nav a:hover{
    color:#0E8388;
    opacity:100%;
  }
  .main{
    display:block;
    /* float:bottom; */
    /* position: relative; */
    /* margin-top:56px; */

  }
  
  .left{
    display:inline-block;
    height:680px;
    width:30%;
    text-align:centre;
    margin: 48px 0px 0px 0px;
    background:#2E4F4F;
    color:white;
    position:absolute;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
  }

  .left ul{
    display:block;
    width:fit-content;
    /* margin: 0 auto; */
  }

  .left li{
    display:block ;
    margin:4px 24px;
    width:100%;
    border:2px solid #0E8388;
    padding:12px;
    border-radius:4px;
    text-align: center;
    



  }
  .left form{
    padding: 36px 48px;
    border:#2C3333 solid 2px;
    width:max-content;
    margin:0 auto ;
    border-radius:8px;
    text-align: center;
    color:#CBE4DE

  }

  #login{
    margin-top:52px;
  }
  .left form input{
    margin:4px 0px;
  }

  #loginsubmit{
    /* background:#2E4F4F; */
    color:#2C3333;
    border:2px #CBE4DE;
    padding:8px;
  }
  
  .right{
    display:inline-block;
    height:100%;
    width:30%;
    text-align:centre;
    margin:48px 620px;
    color:#2E4F4F;
    /* color:white; */
    position: absolute;
  }
  
  .right form{
    padding:24px 48px;
    margin:96px auto ;
    border:#2C3333 solid 0.25px;
    text-align: center;
    border-radius: 12px;

  }

  .right form input{
    border-radius:8px;
    border:#0E8388 solid 0.25px;
    padding:2px 0px;
    text-align: center;
    color: #0E8388;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:4px 0px;

  }

  .right form button,#submit{
    background:#2E4F4F;
    color:#CBE4DE;
    padding:12px;
}

footer{
  background-color: #2C3333;
  color:#0E8388;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:12pt;
  display:block;
  text-align: center;
  float:bottom;
  margin-top:600px;
  position: absolute;
  width:100%;
}

P a{
  color:crimson;
  text-decoration: none;
}